<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buckeye Bed & Breakfast</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
<div id="logo">
<img src="bbbuckeye_logo.svg" alt="BBB Logo"/>
</div>


<main role="main">
<nav role="navigation">
<ul id="list-nav">
  <li><a href="#welcome">Welcome</a></li>
  <li><a href="#reservations">Reservations</a></li>
  <li><a href="#lodging">Lodging</a></li>
  <li><a href="#activities">Activities</a></li>
  <li><a href="#events">Events</a></li>
  <li><a href="#contact">Contact Us</a></li>
</ul>
</nav>
  <h1 id="welcome"> Welcome </h1>
  <p><img src="Owners-Buckeye.jpg" alt="BBB Owners" class="align-left-medium"/>
    Louise and Darrell Johnson, have prepared every detail to ensure that your
vacation is a special event that you will long remember. Your experience starts with a
spacious room, a large comfortable bed, and a spectacular gourmet breakfast. Buckeye Bed &
Breakfast is nestled in the foothills of the Cambridge park with 11 forested acres, beautiful
landscaping and stunning views.The house was built by Samuel Hannaford for Colonel Joseph Danner
Taylor, an influential 19th century educator, attorney, business leader, and politician. Col. Taylor
was influential in the development of Cambridge, Ohio and built a Queen Anne style mansion to reflect his status.</p>
<div class="contact"<p><p>Questions or concerns? Please do not hesitate to contact Louise and Darrell!</p>
<dl>
    <dt><strong> Find Us:</strong> 601 Turner Ave, Cambridge, OH 43725 </dt>
    <dt> <strong>Call Us:</strong> 330.672.3031 </dt>
    <dt> <strong>Email Us:</strong> <a href="stay@buckeyebedbreakfast.com">buckeyebedbreakfast.com</a></dt>
  </dl></p></div>

  <div class="specials">
   <h2>Package & Specials</h2>
   <h3>Sweetheart Package<h3>
    <p>Spend an enchanted evening at the Colonel Taylor Inn Bed & Breakfast and a Romantic dinner for two! Guests are welcome
    to bring their favorite bottle of wine or other beverages.</p>
    <h3> Winter Snuggle Up Special</h3>
      <p>For January-March..... The fireplaces are lit and the candles are glowing! Sunday through Thursday 20% discount (double occupancy) +tax. Holiday & Weekends are excluded</p>
      </div>

<div class="activities">
    <h2 id="activities"> Activities </h2>
<p> Don't think for a second you would get bored in our quaint little sanctuary. Involve yourself in one of our hundreds of activities, suitable for every season. Listed below are a few of our favorites for this time of year:
</p>
    <ul>
      <li> Campfires </li>
      <li>Hiking</li>
      <li>Star Gazing</li>
      <li>Bird Watching</li>
      <li>Edible Landscapes</li>
      <li>Kayaking</li>
      <li>Winery Tours</li>
    </ul>
    </div>

<div class="reviews">
  <h2> Guest Reviews</h2>
  <p><strong>Rachel:</strong> <em>"I absolutely loved my stay here. It was cozy and clean, and the staff was amazing." </em></p>
  <p> 8.10.15</p>

  <p><strong>Kevin:</strong> <em>"Great opportunities to hike, fish, and explore the outdoors."</em> </p>
  <p> 7.29.15</p>
  <p><strong>Rose & John:</strong> <em>"We loved our time here together. Very quiet, relaxing, and homey"</em></p>
  <p> 1.15.15</p>
  </div>

	<h1 id="events"> Events </h1>
        <h2> Weddings</h2>
        	    <div class="two-events">
<p><img src="wedding2.jpg" alt="wedding" class="align-left-large"/>Make your special day one to remember. Rustic, simplistic charm and breathtaking scenery create a cozy, inviting atmosphere - perfect to begin your journey in marriage.
		</p></div>
        <h2> Anniversaries </h2>
        <div class="two-events"><p><img src="dinner.jpg" alt="dinner" class="align-left-large"/>Whether you're celebrating your 1st anniversary, your 50th, or anywhere in between, let us help you celebrate. Allow us to treat you to a couples massage to begin your day, and a complementary, candelit dinner to begin your evening.
        </p></div>



  <h1 id="reservations"> Reserve A Room </h1>
  <div data-tockify-component="upcoming" data-tockify-calendar="allison.strang"></div>
<script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>

<h1 id="lodging"> Lodging </h1>

  <p> At Buckeye Bed and Breakfast, you will find yourself surrounded by rustic aesthetics
       and a homey atmosphere. When making a reservation with us, be sure to explore our 4
       unique rooms to find what fits your vacation desires best.
</p>
<div class="gallery js-flickity">
<div class="gallery-cell"><p>View our Rustic Lodging</p><img  src="sugar-maple-header.jpg" alt="room1"/></div>
<div class="gallery-cell"><p>Out of Africa</p><img src="outofafrica.jpg" alt="bedroom1"/></div>
<div class="gallery-cell"><p>Tree Top Room</p><img src="treetoproom.jpg" alt="bedroom2"/></div>
<div class="gallery-cell"><p>Sweetheart Haven</p><img src="sweetheart_haven.jpg" alt="bedroom3"/></div>
<div class="gallery-cell"><p> Enchantment Room</p><img src="enchantmentbedroom.jpg" alt="bedroom4"/></div>
<div class="gallery-cell"><p>Floral Room</p><img src="bed-and-breakfast-room-with-a-view-aj4vaekj.jpg" alt="room2"/></div>
<div class="gallery-cell"><p>Rustic Room</p><img src="evergreen-header-23.jpg" alt="room3"/></div>
<div class="gallery-cell"><p>Complimentary Breakfast</p><img src="breakfast-in-bed.jpg" alt="room4"/></div>
</div>

<h1>Room Descriptions</h1>

<div class="sweetheart">
<h3>Sweetheart Haven</h3>
<p>Your romantic master suite is appointed with a spacious king size bed, and French doors which lead onto a second story balcony with intimate views of the Smoky Mountains. Your private bath is appointed with a marble double vanity, marble tile and jet tub.</p>
</div>

<div class="tree">
<h3>Tree Top</h3>
<p>Your room has a queen size canopy four poster bed, hardwood flooring and window views of the surrounding hillsides. Your private bathroom is appointed with a marble vanity, shower/bathtub, and tile flooring with Smoky Mountain Black Bear decor throughout. </p>
</div>

<div class="enchantment">
<h3>Enchantment</h3>
<p>This spacious room, decorated with an enchanted forest theme, provides a generous four poster canopy queen size bed, hardwood flooring and overlooks the rose gardens. Your private bathroom includes a marble double vanity, bath/shower and tile flooring. </p>
</div>

<div class="africa">
<h3>Out of Africa</h3>
<p>Your room features a queen size bed, hardwood flooring, and it is decorated with images from the continent of Africa. Your private bath has marble vanity, shower/bath and tile flooring.</p>
</div>



      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
  </div>
</main>

<footer role="contentinfo">
  <h4 id="contact">Contact Us</h4>
  <dl>
    <dt><strong> Find Us:</strong> 601 Turner Ave, Cambridge, OH 43725 </dt>
    <dt> <strong>Call Us:</strong> 330.672.3031 </dt>
    <dt> <strong>Email Us:</strong> <a href="stay@buckeyebedbreakfast.com">buckeyebedbreakfast.com</a></dt>
  </dl>
</footer>

<link rel="stylesheet" href="flickity.css" media="screen">
<script src="flickity.pkgd.min.js"></script>
  </body>
</html>
