<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buckeye Bed & Breakfast</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
  <div id="page-wrap">
<header role="banner">
<img src="headerphoto.jpg" alt="Header Image"/>
<img src="bbbuckeye_logo.svg" alt="BBB Logo"/>
<nav role="navigation">
<ul>
  <li><a href="#welcome">Welcome</a></li>
  <li><a href="#reservations">Reservations</a></li>
  <li><a href="#lodging">Lodging</a></li>
</ul>
</nav>
</header>
<main role="main">
  <h1 id="welcome"> Welcome </h1>
<img src="Owners-Buckeye.jpg" alt="BBB Owners" height="250"/>
     <p>Louise and Darrell Johnson, have prepared every detail to ensure that your
vacation is a special event that you will long remember. Your experience starts with a
spacious room, a large comfortable bed, and a spectacular gourmet breakfast. Buckeye Bed &
Breakfast is nestled in the foothills of the Cambridge park with 11 forested acres, beautiful
landscaping and stunning views.The house was built by Samuel Hannaford for Colonel Joseph Danner
Taylor, an influential 19th century educator, attorney, business leader, and politician. Col. Taylor
was influential in the development of Cambridge, Ohio and built a Queen Anne style mansion to reflect his status.
    </p>
	</main>
    <select>
    <option value=""> Select a Package</option>
    <option value="Sweetheart Package"> Sweetheart Package</option>
    </select>
    <p>Spend an enchanted evening at the Colonel Taylor Inn Bed & Breakfast and a Romantic dinner for two! Guests are welcome
    to bring their favorite bottle of wine or other beverages.</p>
    <p></p>$205-$230 + applicable tax.</p>


    <h3> Activities </h3>
        <select>
    <option value=""> Activities</option>
    <option value="Sweetheart Package"> Sweetheart Package</option>
    </select>
    <ul>
      <li> evening campfires </li>
      <li>walking through our 11 acres of forested woodlands</li>
      <li>star gazing</li>
      <li>birding or relaxing on one of our porch swings</li>
      <li>Enjoy edible landscaping in season, which include blueberry, strawberry, blackberry, raspberry, apple and pear fruit trees.
      <li>Covered parking for motorcycles</li>
      <li>Kayak Rental Available</li>
      <li> Winery Tour</li>
      <p>
A self guided Wine tour at your leisure! Do one or all three... Start in town with Off the Vine Vinyards in geneva, then on to Terra Cotta in New Concord and end with Dinner and tastings at Ravens Glenn... return to relax and enjoy at the Buckeye Bed & Breakfast.
</p>
      <li> Winter Snuggle Up Special</li>
      <p>For January-March..... The fireplaces are lit and the candles are glowing! Sunday through Thursday 20% discount (double occupancy) +tax. Holiday & Weekends are excluded</p>
    </ul>

    <h3> Events </h3>
      <ul>
        <li> Weddings</li>
        <p>Make your special day one to remember. Rustic, simplistic charm and breathtaking scenery create a cozy, inviting atmosphere - perfect to begin your journey in marriage. </p>
		<img src="wedding2.jpg" alt="wedding" height="350"/>
        <li> Anniversaries </li>
        <p>Whether you're celebrating your 1st anniversary, your 50th, or anywhere in between, let us help you celebrate. Allow us to treat you to a couples massage to begin your day, and a complementary, candelit dinner to begin your evening.</p>
        <img src="dinner.jpg" alt="dinner" height="395"</>
      </ul>
	  
	  
  <h1 id="reservations"> Reservations </h1>
<div data-tockify-component="upcoming" data-tockify-calendar="allison"></div>
<script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>

<h1 id="lodging"> Lodging </h1>

  <p> At Buckeye Bed and Breakfast, you will find yourself surrounded by rustic aesthetics
       and a homey atmosphere. When making a reservation with us, be sure to explore our 4
       unique rooms to find what fits your vacation desires best.

  </p>
<img src="sugar-maple-header.jpg" alt="room1" height="200"/>
<img src="out of africa.jpg" alt="bedroom1" height="200"/>
<img src="tree top room.jpg" alt="bedroom2" height="200"/>
<img src="sweetheart_haven.jpg" alt="bedroom3" height="200"/>
<img src="enchantment bedroom.jpg" alt="bedroom4" height="200"/>
<img src="bed-and-breakfast-room-with-a-view-aj4vaekj.jpg" alt="room2" height="200"/>
<img src="evergreen-header-23.jpg" alt="room3" height="200"/>
<img src="breakfast-in-bed.jpg" alt="room4" height="200"/>

    
<h3>Sweetheart Haven</h3>
<p>Your romantic master suite is appointed with a spacious king size bed, and French doors which lead onto a second story balcony with intimate views of the Smoky Mountains. Your private bath is appointed with a marble double vanity, marble tile and jet tub.</p>

<h3>Tree Top</h3>
<p>Your room has a queen size canopy four poster bed, hardwood flooring and window views of the surrounding hillsides. Your private bathroom is appointed with a marble vanity, shower/bathtub, and tile flooring with Smoky Mountain Black Bear decor throughout. </p>

<h3>Enchantment</h3>
<p>This spacious room, decorated with an enchanted forest theme, provides a generous four poster canopy queen size bed, hardwood flooring and overlooks the rose gardens. Your private bathroom includes a marble double vanity, bath/shower and tile flooring. </p>

<h3>Out of Africa</h3>
<p>Your room features a queen size bed, hardwood flooring, and it is decorated with images from the continent of Africa. Your private bath has marble vanity, shower/bath and tile flooring.</p>

  
  <footer role="contentinfo">
    <h4>Contact Us</h4>
    <dl>
      <dt><strong> Find Us:</strong> 601 Turner Ave, Cambridge, OH 43725 </dt>
      <dt> <strong>Call Us:</strong> 330.672.3031 </dt>
      <dt> <strong>Email Us:</strong> <a href="stay@buckeyebedbreakfast.com">buckeyebedbreakfast.com</a></dt>
	  </dl>
</footer>

      <!-- The page content goes here -->
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </div>
  </body>
</html>
