@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Dosis);

	

#page-wrap {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}


*{
	font-size: 1em;
	font-family: 'Dosis', sans-serif;
	}
	
body {
	background-color: rgb(104, 11, 3);
text-align: center, left;
max-width: 100%;
  padding: 4em, 1em;
}

div, section, main, aside, header, footer {
	background-color: #FFFAF0;
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}

img {
	max-width: 100%;
}

h1, h2, h3{
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
}

@media and screen (max-width: 1300px) and (min-width: 480px){
	.footer {
		text-align: center, left;
	}
}
